body {
    background-color: rgb(7, 6, 6);
    color: white;
    font-family: Arial, sans-serif;
}
h1 {
    color: red;
    text-align: center;
    background-color: crimson;
}
img {
    border-radius: 20px;
    margin: 20px ;
}
div {
    text-align: center;
    margin: auto;
}
